@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'Montserrat', 'sans-serrif';

}

/*Login*/
.container-login { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    min-width: 50%;
    background-color:#d3d3d3;
}

.login-form form{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    justify-content: center;
    height: 35rem;
    width: 25rem;
    align-items:center;
    background-color: #0ac069;
    border-radius: 2rem;
    font-weight: 800;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 33%);
}

.login-form form input,button,label {
    margin-bottom: 0.5em;
    color: rgb(0, 0, 0);
    box-shadow: 0;
}

.login-form form input {
    border: 0;
    border-radius: 0.5rem;
}

.login-form form label {
    font-size: 2.5rem;
}
.login-form form button {
    background-color: grey;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

/*Navbar*/

.navbar{
    display: flex;
    font-size: 5rem;
    width: 100%;
    height: 5vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bolder;
    background-color: #0ac069;
}

.navbar-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}



/*Dashboard*/

.Dashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

.Dashboard-List{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 20px;

}

/*Product*/

.Product{
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: aqua;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 33%);
    overflow: hidden;
}

.Product-Detail{
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    align-items: center;
    height: 4rem;
    padding: 0rem 0.5rem;
    background-color: rgb(228, 22, 22);
}

.Product-Container{
    display: flex;
    flex-direction: row;
    height: 11rem;
    

}

.left {
    flex: 1;
    height: 11rem;
    background-color: rgb(245, 242, 248);

}

.left-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bolder;
    color: #0ac069;
    height: 11rem;
}

.left-items sub{
    color: grey;
    font-size: 1.5rem;
    transform: translateY(0.5rem);

}

.right {
    flex: 1;
    height: 11rem;
    background-color: rgb(248, 247, 247);
}

.right-items{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 11rem;
}

.layer-1 {
    background-color: white;
    transform: scale(3);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    color: #0ac069;
    box-shadow: 1px 0.5px 2px rgb(177, 175, 175), inset 0 0 0 rgb(177, 175, 175);
    transition: 300ms;
    
}



.layer-1:hover{
    box-shadow: 0 0 0 rgb(177, 175, 175),inset 2px 1px 3px rgb(177, 175, 175);

}

.layer-2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #0ac069;
    color: black;
    height: 11rem;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    clip-path: circle(00% at 100% 50%);
    padding-left: 4rem;
    transition: 0.15s;
   
}

.layer-2 span{
    transform: scale(1);
}

.layer-2-active
{
    opacity: 1;
    pointer-events: auto;
    clip-path: circle(100% at 100% 50%);
}

.layer-2-items
{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 4rem;
    font-weight: bolder;
    border-radius: 2.5rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0;
    width: 7rem;
    height: 3rem;
  
}

.add ,.minus{
    display: grid;
    place-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow:  0 0 0 #00000054, inset 0px 0px 0px 0 #00000054;
}



.add:hover,.minus:hover
{
    transition: 0.2s;
    box-shadow:  0 0 0 #00000054, inset 2px 2px 8px 0 #00000054;
}

.total{
    color: #0ac069;
}


/*Order Navbar*/

.navbar-container{
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    height: 100vh;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: 600ms;
}

.active-container{
    opacity: 1;
    pointer-events: auto;
    transition: 600ms;
}

.navbar-modal{
    float: right;
    background-color: white;
    transform: translateX(100%);
    transition: 300ms;
    height: 100vh;
    width: 40%;
    padding: 2rem 2rem;
}

.navbar-modal-button{
    height: 3rem;
    width: 8rem;
    font-size: 1.25rem;
    color: black;
    border: none;
    border-radius: 1rem;
    box-shadow:  0 0 0 #00000054, inset 0px 0px 0px 0 #00000054;
    margin: 1rem;
}

.navbar-modal-button:active{
    transition: 0.2s;
    box-shadow:  0 0 0 #00000054, inset 2px 2px 8px 0 #00000054;
}
.icon{
    transform: scale(1.5);
    margin-right: 1rem;
}

.icon-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar-modal p {
    font-size: 2rem;
    justify-content: center;

}

.active-modal{
    transform: translateX(0);
    transition: 300ms;
}


.card-container{
    min-height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.75rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 33%);
}

.card-container p {
    margin-bottom: 1rem;
}

.card-footer{
    display: flex;
    width: 100%;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    font-size: 2.75rem;
}

 /*Menu*/

 .Menu-Button{
     height: 5rem;
     width: 100%;
     font-size: 2.5rem;
     background-color: aqua;
 }

